
  <footer>
    <div  class="container">
      <div class="pull-right hidden-xs col-xs-3 col-md-3">
        <b>Version 1.0.0</b>
      </div>

            <div class="col-xs-6 col-md-3">
            <strong>Gate Airsoft Team</strong>

            <p [routerLink]="['/']">Inicio</p>
            <p [routerLink]="['/remedys']">Sobre</p>
            <p [routerLink]="['/remedy-register']">Membros</p>
            <p [routerLink]="['/about']">Contato</p>
          </div>

          <div class="col-xs-6 col-md-3">
          <strong>Ajuda/Suporte</strong>

          <p>Perguntas e Resposta:</p>
          <p>suporte@gateairsoftteam.com.br</p>


        </div>

          <div class="col-xs-12 col-md-3">
          <strong>Redes Sociais</strong>

          <p>Google <i class="fa fa-google"></i></p>
          <p>Facebook <i class="fa fa-facebook-official"></i></p>
          <p>Twitter  <i class="fa fa-twitter"></i></p>
        </div>
    </div>
  </footer>
