#home-page img {
  max-width: 30%;
  max-height: fit-content;
}

#home-page h1,p{
  color: white;
}

.content{
  min-height: 620px;
}

.jumbotron {
  background-color: #090e09;
  margin-bottom: 0px;
}

#jumbotron-transparent{
  background-color: #1f1f1f;
}

#jumbotron-third{
  background-color: #1f1f1f;
}


@media screen and (max-width:414px){
  .content{
    min-height: 280px;
  }
}
