<div id="home-page">
  <div class="content container">
    <div class="text-center">
      <h1>Grupo Tatico de Airsoft</h1>
      <img src="../../../assets/img/logo_scar.png">
    </div>
  </div>

  <div id="jumbotron-transparent" class="text-left jumbotron welcome-jumbotron col-md-12 col-xs-12" [@popOverStateOne]="show">
    <h1>Sobre nos.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu tortor commodo, condimentum ex ac, efficitur felis. Pellentesque laoreet imperdiet orci. Nulla tincidunt elementum tempor. Aenean odio massa, lacinia non risus et, rutrum ultrices ex. Sed non sodales lorem. Vivamus id ullamcorper arcu. Ut magna quam, tristique viverra commodo sit amet, maximus ultrices tortor.</p>
  </div>

  <div class="text-right jumbotron welcome-jumbotron col-md-12 col-xs-12" [@popOverStateOne]="show">
    <h1>Sobre nos.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu tortor commodo, condimentum ex ac, efficitur felis. Pellentesque laoreet imperdiet orci. Nulla tincidunt elementum tempor. Aenean odio massa, lacinia non risus et, rutrum ultrices ex. Sed non sodales lorem. Vivamus id ullamcorper arcu. Ut magna quam, tristique viverra commodo sit amet, maximus ultrices tortor.</p>
  </div>

  <div  id="jumbotron-third" class="text-left jumbotron welcome-jumbotron col-md-12 col-xs-12" [@popOverStateOne]="show">
    <h1>Torne se um membro</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu tortor commodo, condimentum ex ac, efficitur felis. Pellentesque laoreet imperdiet orci. Nulla tincidunt elementum tempor. Aenean odio massa, lacinia non risus et, rutrum ultrices ex. Sed non sodales lorem. Vivamus id ullamcorper arcu. Ut magna quam, tristique viverra commodo sit amet, maximus ultrices tortor.</p>
  </div>
</div>
